.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-position: center;
    background-size: contain;
    align-content: center;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5vw;
    align-items: center;
    max-width: 40%;
    bottom: 10%;
    left: 9.5vw;
    animation: fadeIn 2.5s;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    align-items: center;
    text-align: center;
    font-size: max(4.5vw, 22px);
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1.1vw, 12px);
    border-radius: 50px;
}