.footer{
    color: rgb(17, 10, 2);
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: flex;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left,.footer-content-center,.footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-right h2{
    white-space: nowrap;
}
.footer-content-left li,.footer-content-center li,.footer-content-right li{
   list-style: none;
   margin-bottom: 10px;
   cursor: pointer;
}
.footer-content-left h2,.footer-content-center h2,.footer-content-right h2{
  color: rgb(245, 29, 29);
}
.footer-social-icons img{
    width: 50px;
    margin-right: 15px;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: black;
    border: none;
}
